/***
* RHD Dev: Compiled at 12:27:54 AM on 25-02-2016
***/

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
.invisible {
  position: absolute;
  visibility: hidden;
  margin: 0;
}
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 64px;
  height: 64px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
.c-hamburger:focus {
  outline: none;
}
.c-hamburger span {
  display: block;
  position: absolute;
  top: 29.333333500000002px;
  left: 11.999999px;
  right: 11.999999px;
  height: 5.333333px;
  background: #fff;
}
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5.333333px;
  background-color: #fff;
  content: "";
}
.c-hamburger span::before {
  top: -13.333331999999999px;
}
.c-hamburger span::after {
  bottom: -13.333331999999999px;
}
.c-hamburger--rot {
  background-color: #28aadc;
}
.c-hamburger--rot span {
  transition: transform 0.3s;
}
.c-hamburger--rot.is-active {
  background-color: #1d89b3;
}
.c-hamburger--rot.is-active span {
  transform: rotate(90deg);
}
.c-hamburger--htx {
  background-color: #ff3264;
}
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.c-hamburger--htx span::before {
  transition-property: top, transform;
}
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}
.c-hamburger--htx.is-active {
  background-color: #f4003c;
}
.c-hamburger--htx.is-active span {
  background: none;
}
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}
.c-hamburger--htla {
  background-color: #32dc64;
}
.c-hamburger--htla span {
  transition: transform 0.3s;
}
.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htla.is-active {
  background-color: #20b94d;
}
.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}
.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(25.333333999999997px) translateY(2.6666665px) rotate(45deg);
}
.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(25.333333999999997px) translateY(-2.6666665px) rotate(-45deg);
}
.c-hamburger--htra {
  background-color: #ff9650;
}
.c-hamburger--htra span {
  transition: transform 0.3s;
}
.c-hamburger--htra span::before {
  transform-origin: top left;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}
.c-hamburger--htra span::after {
  transform-origin: bottom left;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}
.c-hamburger--htra.is-active {
  background-color: #ff6e0d;
}
.c-hamburger--htra.is-active span {
  transform: rotate(180deg);
}
.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}
.c-hamburger--htra.is-active span::before {
  top: 0;
  transform: translateX(-5.333333px) translateY(2.6666665px) rotate(-45deg);
}
.c-hamburger--htra.is-active span::after {
  bottom: 0;
  transform: translateX(-5.333333px) translateY(-2.6666665px) rotate(45deg);
}
@font-face {
  font-family: 'ADAM';
  src: url("fonts/adam.cg_pro-webfont.eot");
  src: url("fonts/adam.cg_pro-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/adam.cg_pro-webfont.woff2") format('woff2'), url("fonts/adam.cg_pro-webfont.woff") format('woff'), url("fonts/adam.cg_pro-webfont.ttf") format('truetype'), url("fonts/adam.cg_pro-webfont.svg#fonts/adam.cg_proregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusableactive,
.visuallyhidden.focusablefocus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.clearfix:before,
#content:before,
#content .section-content:before,
.clearfix:after,
#content:after,
#content .section-content:after {
  content: " ";
  display: table;
}
.clearfix:after,
#content:after,
#content .section-content:after {
  clear: both;
}
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media print {
  *,
  *before,
  *after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  avisited {
    text-decoration: underline;
  }
  a[href]after {
    content: " (" attr(href) ")";
  }
  abbr[title]after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]after,
  a[href^="javascript"]after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
img.alignleft {
  float: left;
}
img.alignright {
  float: right;
}
img.aligncenter {
  margin: 0 auto;
  display: block;
}
.gallery {
  width: 100%;
  margin-bottom: 1.6em;
}
.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-item img {
  max-width: 100%;
  height: auto;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-icon img {
  margin: 0 auto;
}
.gallery-caption {
  color: #707070;
  color: rgba(51,51,51,0.7);
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}
/* ==========================================================================
	Main Styles
   ========================================================================== */
html,
body {
  width: auto;
  min-width: 100%;
  height: 100%;
  text-shadow: 0 0 1px transparent;
  font-size: 16px;
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
a {
  outline: 0 !important;
  color: #acc3fe;
  text-decoration: none;
  transition: color 0.25s;
}
a:hover,
a:active {
  color: #361f4b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
#page,
#main,
#primary,
#content {
  width: auto;
  height: 100%;
}
#page {
  width: 100%;
  overflow: hidden;
}
#main {
  box-sizing: border-box;
}
#primary {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
#masthead {
  width: 100%;
  height: 4em;
  background: #361f4b;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
}
#masthead #site-title {
  font-size: 3em;
  margin: 0;
  line-height: 1;
}
#masthead #hamburger {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#rhd-logo-footer {
  width: 1.35em;
  height: 1.35em;
  margin: 0 0.05em;
  position: relative;
  bottom: 0.15em;
}
#content section {
  width: auto;
  height: 100%;
  position: relative;
  float: left;
  display: inline-block;
  padding: 4em 0;
}
#content .section-title {
  font-size: 2.5em;
  text-align: center;
  margin: 1em auto 1rem auto;
}
#content .section-content {
  width: 85%;
  max-width: 64rem;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 1em 0;
}
#content iframe {
  max-width: 100%;
  display: block;
}
