@require "partials/_global.styl"
@require "partials/_hamburger.styl"
@require "partials/_fonts.styl"
@require "partials/_helpers.styl"
@require "partials/_galleries.styl"
@require "partials/_overrides.styl"

/* ==========================================================================
	Main Styles
   ========================================================================== */

html
	width auto
	min-width 100%
	height 100%
	text-shadow 0 0 1px transparent
	font-size 16px
	margin 0
	background white
	color black
	font-family $ff_body


body
	@extends html


a
	outline 0 !important
	color $color1
	text-decoration none
	transition color 0.25s

	&:hover
	&:active
		color $color2


h1
h2
h3
h4
h5
h6
	font-weight 400


#page
#main
#primary
#content
	width auto
	height 100%


#page
	width 100%
	overflow hidden


#main
	box-sizing border-box


#primary
	margin 0 auto
	position relative
	box-sizing border-box


#masthead
	width 100%
	height $nav_ht
	background $color2
	position fixed
	top 0
	left 0
	color white
	
	#site-title
		font-size 3em
		margin 0
		line-height 1
	
	#hamburger
		height 100%
		position absolute
		right 0
		top 0


#rhd-logo-footer
	width 1.35em
	height 1.35em
	margin 0 0.05em
	position relative
	bottom 0.15em


#content
	-clearfix()
	
	section
		width auto
		height 100%
		position relative
		float left
		display inline-block
		padding $nav_ht 0
	
	.section-title
		font-size 2.5em
		text-align center;
		margin 1em auto 1rem auto

	.section-content
		-wrapper()
		padding 1em 0
		@extends .clearfix

	iframe
		max-width 100%
		display block