/* ==========================================================================
	Global Stylus Variables
   ========================================================================== */

// Variables
$color1 = black
$color2 = #ACC3FE
$color3 = #361F4B
$ff_body = 'Roboto', sans-serif
$ff_headline = 'Roboto Condensed', sans-serif

$nav_ht = 4em

$updir = '//dev.roundhouse-designs.com/aliewoldt/wp-content/uploads'

// Classes

.unselectable
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;


.invisible
	position absolute
	visibility hidden
	margin 0


// Functions

-wrapper( $topMargin = 0, $bottomMargin = 0, $customWidth = 85%, $customMax = 64rem )
	width $customWidth
	max-width $customMax
	position relative
	margin $topMargin auto $bottomMargin auto


-unwrapper()
	width 100%
	max-width initial


-clearfix()
	@extends .clearfix


-flexbox()
	text-align justify
	padding 0

	&:after
		width 100%
		display inline-block
		content ''

-flexitem()
	display inline-block


-body-shadow( $yPos )
	box-shadow 0em $yPos 0.45em 0em rgba(0,0,0,0.5)


-placeholder-props( $famVal, $color = null, $opacity = null )
	&::-webkit-input-placeholder
		font-family $famVal
		if $color !=null
			color $color

		if $opacity != null
			-opacity( $opacity )

	&:-moz-placeholder /* Firefox 18- */
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )

	&::-moz-placeholder  /* Firefox 19+ */
		font-family $famVal
		color $color
		if $opacity != null
			-opacity( $opacity )

	&:-ms-input-placeholder
		font-family $famVal
		color $color
		if $opacity != null
			opacity( $opacity )


-opacity( $val )
	-moz-opacity $val
	-webkit-opacity $val
	opacity $val


-transform( $val )
	-webkit-transform $val
	transform $val


-border-radius( $val )
	-webkit-border-radius $val
	-moz-border-radius $val
	border-radius $val


-column-area( $c, $gap )
	-webkit-column-width $c
	-webkit-column-gap $gap
	-moz-column-width $c
	-moz-column-gap $gap
	column-width $c
	column-gap $gap


-no-columns()
	-webkit-column-width 100vw
	-moz-column-width 100vw
	column-width 100vw